<div class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
           ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

          <div class="field">
            <label> Email </label>
            <input type="email"
                   name="email"
                   disabled="disabled"
                   ng-model="user.email">
          </div>

          <div class="field">
            <label> Full Name </label>
            <input type="text"
                   name="name"
                   ng-model="user.profile.name">
          </div>
          
          <div ng-if='!checkInActive' class="field">
            <label> Discord username</label>
            <input type="text"
                   name="discordUsername"
                   ng-model="user.profile.discordUsername">
          </div>
          
          <div class="field">
            <label> School </label>
            <select
               name="school"
               ng-model="user.profile.school">
              <option value="">Select you School</option>
              <option value="Tecnológico de Monterrey Campus Monterrey">Tecnológico de Monterrey Campus Monterrey</option>
              <option value="Tecnológico de Monterrey Campus Guadalajara">Tecnológico de Monterrey Campus Guadalajara</option>
              <option value="Tecnológico de Monterrey Campus Puebla">Tecnológico de Monterrey Campus Puebla</option>
              <option value="Tecnológico de Monterrey Campus Ciudad de México">Tecnológico de Monterrey Campus Ciudad de México</option>
              <option value="Tecnológico de Monterrey Campus Santa Fé">Tecnológico de Monterrey Campus Santa Fé</option>
              <option value="Tecnológico de Monterrey Campus Laguna">Tecnológico de Monterrey Campus Laguna</option>
              <option value="Tecnológico de Monterrey Campus San Luis">Tecnológico de Monterrey Campus San Luis</option>
              <option value="Universidad de Monterrey">Universidad de Monterrey</option>
              <option value="Otro">Otro</option>
            </select>
          </div>

          <div class="field">
            <label> Graduation Year </label>
            <select
               name="year"
               ng-model="user.profile.graduationYear">
              <option value="">Graduation Year</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select>
          </div>

          <div class="field">
            <label>Gender</label>
            <select
               name="gender"
               ng-model="user.profile.gender">
              <option value="">Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
              <option value="N">I prefer not to answer.</option>
            </select>
          </div>

          <div class="field">
            <label>Degree</label>
            <select
               name="degree"
               ng-model="user.profile.degree">
              <option value="HS">High School</option>
              <option value="U">Undergraduate/College</option>
              <option value="G">Graduate</option>
            </select>
          </div>

          <div class="field">
            <label>I would describe myself as a...</label>
            <input type="text"
                   placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                   ng-model="user.profile.description">
          </div>

          <div class="field">
            <label>
              What would you like to learn or get out of HackMty? (optional)
            </label>
            <textarea ng-model="user.profile.essay">
            </textarea>
          </div>
          <div>
            <form action="">
              <input type="checkbox" name="firstHack" value="FirstHack" ng-model="user.profile.firstHack"> This is my first hackathon
            </form>
          </div>

          <div class="field">
            <!-- <textarea ng-model="user.profile.cv"> -->
            <label> Upload your resume </label>
            <input type="file" id="resume-file"/ >
             <label> {{user.profile.cv}} </label>
          </div>
          <br>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui purple button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
