<div class="page">
  <div class="divided title">
    Challenges
  </div>
  
  <div class="ui stackable page grid">
    <div class="column">

      <!-- <div class="divided title" style="font-size:1.5em;">To Be Announced!</div>
      <div class="field">
        <p>
          Keep an eye out for the challenges that will be announced soon!
        </p>
      </div>  -->

      <div class="divided title" style="font-size:1.5em;">Reto Banorte</div>

      <div class="field">
        <h3>
          Nowcasting de la Inflación en México
        </h3>
        <p>
          Este reto implica construir un pronóstico de la variación quincenal del Índice Nacional de Precios al Consumidor (INPC) con información pública. El equipo ganador de este reto será quien tenga el pronóstico más exacto para las medidas de inflación general y subyacente -que se definirá como aquel pronóstico fuera de muestra que tenga la menor diferencia absoluta respecto a la variación quincenal del INPC general y subyacente durante las quincenas publicadas por el INEGI durante el año 2021.
        </p>
        
      </div>     
    </div>
  </div>
</div>
