<div class="page">
  <div class="divided title">
    Challenges
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="divided title" style="font-size:1.5em;">Smart and Friendly Help Desk</div>

      <div class="field">
        <p>Mejorar el servicio, reducir el tiempo de respuesta y disminuir el número de llamadas a las mesas
        de ayuda (Help Desk) con el fin de disminuir los costos, mediante una herramienta que dé solución
        a los problemas más comunes antes de que lleguen a un agente.</p>
        <a href="https://drive.google.com/file/d/0B6K2MAEqkk79Y3ZheWd4clZzdGZKejlVanN6SHQyc1BZU0JR/view" target="_blank">Link to full description</a>
        <h3>Premio</h3>
        <li>Tarjeta de regalo de Amazon con valor de $10,000 MXN, para cada participante del equipo
          ganador</li>
      </div>


      <br />
      <div class="divided title" style="font-size:1.5em;">Detector de calorías</div>

      <div class="field">
        <p>Se requiere hacer una aplicación móvil que permita tomar foto a un platillo de comida para
        después, mediante un programa inteligente, reconocer si son chilaquiles de Tec o no.</p>
        <h3>Premio</h3>
        <li>Un nintendo Switch</li>
      </div>

      <br />
      <div class="divided title" style="font-size:1.5em;">Nuevo León Mañana</div>

      <div class="field">
        <p>Buscamos una plataforma que te diga cómo va tu estado y te mantenga informado. Donde
        podrás visualizar los indicadores más importantes y el progreso hacia las metas definidas en el
        Plan Estratégico 2030. Asimismo, será un espacio donde, como ciudadano, puedes escoger
        que temas te interesan más y recibir actualizaciones y noticias y podrás mantenerte informado.</p>
        <a href="https://drive.google.com/file/d/0B9DZg6yCx5E-N1dmWWUyMzY4dm8/view" target="_blank">Link to full description</a>
        <h3>Premio</h3>
        <li>Seguimiento al proyecto para su publicación ligado al sitio del Consejo Nuevo León.</li>
        <li>Mención de autoría en concepto publicado.</li>
        <li>Par de audífonos para cada miembro del equipo.</p>
      </div>

      <br />
      <div class="divided title" style="font-size:1.5em;">Escuela de Ingeniería</div>

      <div class="field">
        <p>Desarrollar una aplicación móvil
        (App) que reaccione con “beacons”
        para ayudar a los visitantes de la
        Escuela de Ingeniería y Ciencias (EIC)
        del Campus Monterrey en su
        recorrido por los laboratorios o
        espacios.</p>
        <a href="https://drive.google.com/file/d/0B4CX5T6_BNjwWkRXbkp0aFVvek0/view?usp=sharing" target="_blank">Link to full description</a>
        <h3>Premio</h3>
        <li>Tarjeta de regalo de Best Buy</li>
      </div>
    </div>
  </div>
