<div class="page">
  <div class="divided title">
    Challenges
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <!-- <div class="divided title" style="font-size:1.5em;">To Be Announced!</div>
      <div class="field">
        <p>
          Keep an eye out for the challenges that will be announced soon!
        </p>
      </div> -->

      <div class="divided title" style="font-size:1.5em;">Reto Banorte</div>

      <div class="field">
        <h3>
          Aplicación de los “Contratos Inteligentes” a través 
          Blockchain en instituciones financieras.
        </h3>
        <p>
          Aprovechar las ventajas, características y beneficios de Blockchain, 
          desarrollar una propuesta y alternativa de aplicación para los 
          “Contratos inteligentes” a través de dicha plataforma. Un contrato 
          inteligente es capaz de ejecutarse y hacerse cumplir por sí mismo, 
          de manera autónoma y automática, sin intermediarios ni mediadores. 
        </p>
        <p>
          Evitan el lastre de la interpretación al no ser verbal o escrito 
          en los lenguajes que hablamos. Los casos de uso para el desarrollo 
          de la idea pueden ser: Gestión de póliza de seguros, contratos con 
          proveedores y crédito Hipotecario.

        </p>
      </div>


      <br />
      <div class="divided title" style="font-size:1.5em;">Reto Blue Yonder</div>

      <div class="field">
        <h3>Space Planner</h3>
        <p>
          As the Covid-19 crisis has struck every economic business line, 
          the Mexican government has published a contest for the design 
          of a software-based solution to help out businesses to re-open 
          while still accomplishing to follow the new normality guidelines 
          and safe distancing rules. This solution should be able to 
          provide a dynamic and easy-to-use solution for businesses to 
          create schemes and plan the usage of their available space
        </p>
      </div>

      <br />
      <div class="divided title" style="font-size:1.5em;">Reto Datlas</div>

      <div class="field">
        <h3>Categorizando las zonas con más choques en NL</h3>
        <p>
          La startup de analítica Datlas (www.datlas.mx) te invita a 
          participar en el reto de desarrollar un sistema de predicción de 
          choques y siniestros de vehículos para Nuevo León, México.
        </p>
        <p>
          Se compartirá una base de datos de 3 años de choques (aproximadamente
          17,000 eventos) con el objetivo de desarrollar análisis, modelos 
          predictivos y prescriptivos que puedan impulsar sugerencias para
          dos públicos: Gobierno y Empresas aseguradoras.
        </p>
      </div>


    </div>
  </div>
</div>
