<div class="page">
  <div class="divided title">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form">
        <div class="divided title">Basic Details</div>

        <fieldset ng-disabled="pastConfirmation">

          <div class="field">
            <label> What's your phone number? (required) </label>
            <p>
              We need this in case we need to get ahold of you!
            </p>
            <input type="tel"
                   name="phone"
                   ng-model="user.confirmation.phoneNumber"
                   placeholder="(81) - 8181 - 8181"
                   required>
          </div>
          

          <div ng-if='checkInActive'>
            <div class="field">
              <label> Dietary Restrictions </label>
  
              <p>
                If your restriction is not included here, please let us know in the additional notes at the bottom.
              </p>
              <p>
                We'll make sure you get fed :)
              </p>
  
            </div>
  
            <div class="inline fields">
              <div class="field"
                ng-repeat="(key, value) in dietaryRestrictions">
  
                <div class="ui checkbox">
                  <input type="checkbox" ng-model="dietaryRestrictions[key]" />
                  <label>{{key}}</label>
                </div>
  
              </div>
            </div>
          </div>

          <div class="field">
            <label> Shirt Size (required) </label>

            <select
              name="shirt"
              ng-model="user.confirmation.shirtSize"
              required>
              <option value="">Shirt Size</option>
              <option value="XS">Unisex X-Small</option>
              <option value="S">Unisex Small</option>
              <option value="M">Unisex Medium</option>
              <option value="L">Unisex Large</option>
              <option value="XL">Unisex X-Large</option>
              <option value="XXL">Unisex XX-Large</option>
            </select>
          </div>

          <div ng-if='checkInActive'>
            <div class="field">
              <label>
                Will you be needing hardware?
              </label>
              <div class="ui checkbox">
                <input type="checkbox" ng-model="user.confirmation.wantsHardware">
                <label> Yes, I would like to use hardware in my hack. </label>
              </div>
            </div>
  
            <div
              class="field"
              ng-show="user.confirmation.wantsHardware">
              <label>
                What kind of hardware would be useful for you?
              </label>
              <p>
                We will have a hardware checkout, and we'll try our best to provide things that would be useful to you - however, we can't guarantee everything. We will publish a list of available hardware closer to the day of the event.
              </p>
              <input type="text" ng-model="user.confirmation.hardware">
            </div>
          </div>
          <br>

          <div>

            <div class="ui header">
              Address Information
            </div>

            <p>
              Where will you be located when participating in HackMTY?
            </p>

            <div class="field">
              <label>Full Name</label>
              <input type="text"
                     name="name"
                     ng-model="user.confirmation.address.name">
            </div>

            <div class="field">
              <label> Address Line 1 - Street address, P.O. box, company name, c/o </label>
              <input
                type="text"
                name="addressLine1"
                ng-model="user.confirmation.address.line1">
            </div>

            <div class="field">
              <label> Address Line 2 - Apartment, suite, unit, building, floor, etc. </label>
              <input
                type="text"
                name="addressLine2"
                ng-model="user.confirmation.address.line2">
            </div>

            <div class="four fields">
              <div class="field">
                <label> City </label>
                <input
                  type="text"
                  name="city"
                  ng-model="user.confirmation.address.city">
              </div>
              <div class="field">
                <label> State/Province/Region </label>
                <input
                  type="text"
                  name="state"
                  ng-model="user.confirmation.address.state">
              </div>
              <div class="field">
                <label> ZIP </label>
                <input
                  type="text"
                  name="zip"
                  ng-model="user.confirmation.address.zip">
              </div>
              <div class="field">
                <label> Country </label>
                <input
                  type="text"
                  name="country"
                  ng-model="user.confirmation.address.country">
              </div>
          </div>



          <br>
          <br>

          <div class="divided title"> Skills & Accomplishments </div>

          <div class="field">
                   <select
               name="year"
               ng-model="user.confirmation.major">
              <option value="">Major</option>
              <option value="Computer Science">Computer Science</option>
              <option value="Business Administration">Business Administration</option>
              <option value="Biochemestry">Biochemestry</option>
              <option value="Business informatics">Business informatics</option>
              <option value="Chemical Engineering">Chemical Engineering</option>
              <option value="Civil Engineering">Civil Engineering</option>
              <option value="Accounting">Accounting</option>
              <option value="Electrical Engineering">Electrical Engineering</option>
              <option value="Mechanical Engineering">Mechanical Engineering</option>
              <option value="Robotics">Robotics</option>
              <option value="Environmental Engineering">Environmental Engineering</option>
              <option value="Physics">Physics</option>
              <option value="Industrial Engineering">Industrial Engineering</option>
              <option value="Marketing">Marketing</option>
              <option value="Bioengineering">Bioengineering</option>
              <option value="Mecatronics">Mecatronics</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="field">
            <label> Github </label>
            <input type="text"
                   name="github"
                   placeholder="https://github.com/foobar"
                   ng-model="user.confirmation.github">
          </div>

          <div class="field">
            <label> Twitter </label>
            <input type="text"
                   name="twitter"
                   placeholder="https://twitter.com/foobar"
                   ng-model="user.confirmation.twitter">
          </div>

          <br>

          <div class="divided title">Legal</div>

          <div class="field">
            <label> Privacy Policy </label>
            <p>
              <a
                target="_blank"
                href="https://drive.google.com/file/d/1KYh_qCvjTwuvBDOnjGUhdjvssDPf9Ng-/view?usp=sharing">
                Privacy Policy
              </a>
            </p>
            <p>
            To participate in HackMTY you must agree to our Privacy Policy, which describes how we treat your data.
            </p>
            <p>
            By writing my name below, I affirm that I have read and agree to the terms of the data sharing above. I authorize you to share my application/registration information for event administration, shipping details and further sponsorship contact.            </p>
            <input type="text"
                   name="signaturePrivacyPolicy"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signaturePrivacyPolicy">
          </div>

          <div class="field">
            <label> Liability Waiver </label>
            <p>
              <a
                target="_blank"
                href="https://drive.google.com/file/d/1T7ywAU_RS3Ulc8lPgcBHOns2sL_lcuSd/view?usp=sharing">
                Liability Waiver
              </a>
            </p>
            <p>
            To participate in HackMTY under normal terms you need to be at least 18 years old. But don´t worry if you are underage you can still participate by taking the following form signed by your partents or legal tutor the day of the event.
            </p>
            <p>
            By signing with your name below you affirm that you are at least 18 years old or that you will email the signed form to <strong>hello@hackmty.com</strong> with the subject "Liability Waiver - [YOUR FULL NAME]" prior to the event.
            </p>
            <input type="text"
                   name="signatureLiabilityWaiver"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signatureLiability">
          </div>

          <div class="field">
            <label> Photo Release </label>
            <p>
              <a
                target="_blank"
                href="https://drive.google.com/file/d/1J_pFlysRsehZzF3aqsdQ_vEX4Lhzf2yr/view?usp=sharing">
                Photo Release
              </a>
            </p>
            <p>
              Signing this photo release means if we take photos or photos of you, we can share it with the world.
            </p>
            <p>
              By writing my name below, I affirm that I have read and accepted the terms of the photo release above.
            </p>
            <input type="text"
                   name="signaturePhotoRelease"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signaturePhotoRelease">
          </div>

          <div class="field">
            <label> Code of Conduct </label>
            <p>
              <a
                target="_blank"
                href="https://drive.google.com/file/d/1YL9Ggk-TkUVuyHKCzhH8O2h1pacDg3Q-/view?usp=sharing">
                Code of Conduct
              </a>
            </p>
            <p>
              It is extremely important to us that attendees follow a set of guidelines to make the event fun for everyone involved. Please read through and make sure you understand what we will be expecting of you.
            </p>
            <p>
              By writing my name below, I affirm that I have read and will abide by the code of conduct detailed above.
            </p>
            <input type="text"
                   name="signatureCodeOfConduct"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signatureCodeOfConduct">
          </div>

          <div class="field">
            <label for="mlhCheckbox">MLH Code of Conduct, Data Sharing, and Terms & Conditions</label>
            <p>
              <a
                 target="_blank"
                href="https://github.com/MLH/mlh-policies/blob/master/data-sharing.md">
                Data Sharing Notice</a>
            </p>
            <p>
              I have read and agree to the <a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
              MLH Code of Conduct</a>. I authorize you to share my application/registration 
              information for event administration, ranking, MLH administration, pre- and post-event informational e-mails, 
              and occasional messages about hackathons in-line with the <a target="_blank" href="https://mlh.io/privacy">MLH Privacy Policy.</a> 
              I further agree to the terms of both the 
              <a target="_blank" href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions/contest-terms.md">MLH Contest Terms and Conditions</a> 
              and the <a target="_blank" href="https://mlh.io/privacy">MLH Privacy Policy.</a>
            </p>
            <input type="text"
              name="signatureLiabilityWaiver"
              placeholder="Your Full Legal Name"
              ng-model="user.confirmation.signatureMLH">
          </div>

          <br>
          <br>

          <div class="divided title">everything else</div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui purple button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
