<div class="page">
  <div class="divided title">
    Workshops
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="divided title" style="font-size:1.2em;">First timers by ACM MTY <br /> Saturday 12:45 p.m</div>

      <div class="field">
        <p>Everything someone needs to know to participate in their first hackathon.</p>
      </div>

      <br />
      <div class="divided title" style="font-size:1.2em;">User based Web App by Google <br /> Saturday 2:15 p.m</div>

      <div class="field">
        <p>Basic user based app. Express.js for routing, mongo.js for db. I'd say relying heavily on libraries so we can get something functional on time.</p>
      </div>

      <br />
      <div class="divided title" style="font-size:1.2em;">Chatbots by Codeando México <br /> Saturday 3:30 p.m</div>

      <div class="field">
        <p>Chatbots: From Natural Language Processing, passing through existing solutions for rule based chatbot systems to Deep Generative Neural Models for response generation.</p>
      </div>

      <br />
      <div class="divided title" style="font-size:1.2em;">Introduction to Machine Learning by Definity First <br /> Saturday 4:45 p.m</div>

      <div class="field">
        <p>In this workshop we will give a brief introduction to machine learning, the main features of a convolutional neural network used on image classification, and a little example of handwritten numbers classification using Python and Tensorflow.</p>

      </div>
      <br />
      <div class="divided title" style="font-size:1.2em;">Selling your idea by Campus Rep <br /> Saturday 6:00 p.m</div>

      <div class="field">
        <p>In this workshop you will fully understand the concept of pitching your idea. You will be able to captivate your audience, to transmit clearly your purpose and take advantage of each second of your presentation</p>
      </div>
    </div>
  </div>

