<div class="page">
  <div class="divided title">
    Workshops
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <!-- <div class="divided title" style="font-size:1.2em;">To be Announced!</div> -->

      <!-- <div class="field">
        <p>Come back later to see the workshops that will be offered!</p>
      </div> -->

      <br />
      <div class="divided title" style="font-size:1.2em;"> Kompas x Konfio <br /> Saturday 3:15 p.m</div>

      <div class="field">
        <p>Todo lo que necesitas saber para el reto Kompas de Konfio. </p>
      </div>

      <br />
      <div class="divided title" style="font-size:1.2em;"> Banorte workshop <br /> Saturday 3:30 p.m</div>

      <div class="field">
        <p>Creando soluciones contra el phishing. </p>
      </div>

      <br />
      <div class="divided title" style="font-size:1.2em;"> Amazon workshop <br /> Saturday 5:00 p.m</div>

      <div class="field">
        <p>Desarrollando experiencias de voz con Alexa. </p>
      </div>
    </div>
  </div>

