<div class="page">
  <div class="divided title">
    Workshops
  </div>

    <a>Check in later for Workshops!</a>
    <!--
      <div class="ui stackable page grid">
        <div class="column">

         <div class="divided title" style="font-size:1.5em;">To be Announced!</div>

          <div class="field">
            <p>Come back later to see the workshops that will be offered!</p>
          </div> -->
      <br />

    <!--
 <div class="divided title" style="font-size:1.2em;"> El oráculo de la inflación</div>

 <div class="field">
   <p>Workshop by Banorte. </p>
   <p>Saturday 1:00 p.m. </p>
 </div>

 <br />
 <br />
 <div class="divided title" style="font-size:1.2em;"> Inflection Point's Keynote</div>

 <div class="field">
   <p>Saturday 2:30 p.m. </p>
 </div>


 <br />
 <br />
 <div class="divided title" style="font-size:1.2em;">Behind the Scenes of Facebook Hacker Cup</div>
 <div class="field">
   <p>Workshop by Facebook</p>
   <p> Saturday 5:30 p.m </p>
 </div>

 <br />
 <br />
 <div class="divided title" style="font-size:1.2em;"> Microsoft Recruiting Session</div>

 <div class="field">
   <p> Saturday 7:00 p.m </p>
 </div>
-->
    </div>
  </div>

