<div id="dashboard" class="page">
  <div class="divided title"> <!-- style should be in the css, cant find it -->
      Welcomo to hackmty, {{ user.profile.name.substr(0, user.profile.name.indexOf(' ')) }}! 
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          Your status:
        </div>
        <br>

        <div
          class="state"
          ng-class="user.status.name"
          ng-if="!showWaitlist && !dashState('admittedAndCannotConfirm')">
          {{user.status.name}}
        </div>

        <div
          class="declined state"
          ng-if="dashState('admittedAndCannotConfirm')">
          Expired Admission
        </div>


        <div
          ng-if="showWaitlist"
          class="waitlist state">
          On waitlist
        </div>

        <div class="ui divider"></div>

        <div ng-if="user.profile.name.length > 0">
          <p>
            <strong>
              Welcome back, {{user.profile.name}}!
            </strong>
          </p>
          <p>
          </p>
        </div>

        <div
          ng-if="dashState('unverified')"
          class="description">
          <p>
            <strong>
            Your email address ({{user.email}}) is not yet verified.
            </strong>
          </p>
          <p>
            {{ DASHBOARD.UNVERIFIED }}
          </p>
          <div class="ui purple button" ng-click="resendEmail()">
            Resend verification email
          </div>
        </div>

        <div
          ng-if="dashState('openAndIncomplete')"
          class="description">
          <p>
            <strong>
                {{ DASHBOARD.INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.INCOMPLETE }}
          </p>

          <div class="ui purple button"
               ui-sref="app.application">
            Complete your application
          </div>

        </div>

        <div
          ng-if="dashState('openAndSubmitted')"
          class="description">
          <p>
            <strong>
                {{ DASHBOARD.SUBMITTED_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.SUBMITTED }}
          </p>
          <div class="ui purple button"
               ui-sref="app.application">
            Edit your application
          </div>

          <div
            class="ui pink button"
            ng-show="!user.teamCode"
            ui-sref="app.team">
            Create or join a team
          </div>

          <div
            class="ui pink button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>

        </div>

        <div
          ng-if="dashState('closedAndIncomplete')">
          <p>
            <strong>
                {{ DASHBOARD.CLOSED_AND_INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.CLOSED_AND_INCOMPLETE }}
          </p>
        </div>

        <div
          ng-if="dashState('closedAndSubmitted')"
          class="description" >

          <div
            class="markdown"
            ng-bind-html="waitlistText">
          </div>

          <div class="ui purple button"
               ui-sref="app.application">
            View your application
          </div>

          <div
            class="ui pink button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>
        </div>

        <div
          class="description"
          ng-if="dashState('admittedAndCanConfirm')">

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM_TITLE }}
            </h4>
          </div>

          <div
            class="markdown"
            ng-bind-html="acceptanceText">
          </div>

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM }}
            </h4>
          </div>

          <div class="ui purple button"
               ui-sref="app.confirmation">
            Confirm your spot
          </div>

          <div class="ui red button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('admittedAndCannotConfirm')">

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM_TITLE }}
            </h4>

            <p>
                {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM }}
            </p>
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('confirmed')">

          <div
            ng-show="!pastConfirmation"
            class="markdown">
            <h4>
                {{ DASHBOARD.CONFIRMED_NOT_PAST_TITLE }}
            </h4>
          </div>

          <div
            class="markdown"
            ng-bind-html="confirmationText">
          </div>

          <div class="ui purple button"
               ui-sref="app.confirmation">
            {{pastConfirmation ? 'View' : 'Edit'}} your confirmation information
          </div>

          <div class="ui red button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('declined')">

          <p>
            {{ DASHBOARD.DECLINED }}
          </p>
        </div>

      </div>

    </div>
  </div>

  <!-- Box fot the TeamOverview, new box with different title and no functionality implemented -->
  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <!-- Title of the box -->
        <div class="small title">
            Team Overview
        </div>
        <!-- Title of the team -->
        <div>
          <h4>
            Mi Equipo
          </h4>
        </div>
        <!-- ngFor to iterate between the teammates -->
        <div class="team-list" style="width: 100%; text-align: left; display:inline-block;">
          <p style="vertical-align: middle; float: left;">
            <img ng-if="false" src="../../assets/images/cross.png">
            <img ng-if="true"  src="../../assets/images/mark.png">
          </p>
          <p class="divided small team-member" style="padding-left: 30px; color: #473899;">
            {{user.profile.name}}
          </p>
        </div>
        <div class="team-list" style="width: 100%; text-align: left; display:inline-block;">
          <p style="vertical-align: middle; float: left;">
            <img ng-if="false" src="../../assets/images/cross.png">
            <img ng-if="true"  src="../../assets/images/mark.png">
          </p>
          <p class="divided small team-member" style="padding-left: 30px;">
            Carolina Peyrot
          </p>
        </div>
        <div class="team-list" style="width: 100%; text-align: left; display:inline-block;">
          <p style="vertical-align: middle; float: left;">
            <img ng-if="true" src="../../assets/images/cross.png">
            <img ng-if="false"  src="../../assets/images/mark.png">
          </p>
          <p class="divided small team-member" style="padding-left: 30px;">
            Mariana Villanueva
          </p>
        </div>
        <div class="team-list" style="width: 100%; text-align: left; display:inline-block;">
          <p style="vertical-align: middle; float: left;">
            <img ng-if="true" src="../../assets/images/cross.png">
            <img ng-if="false"  src="../../assets/images/mark.png">
          </p>
          <p class="divided small team-member" style="padding-left: 30px;">
            Noe Campos
          </p>
        </div>

        <!-- Buttons -->
        <div ng-if="false" class="ui primary button" style="margin-bottom: 24px;">
          Check In
        </div>

        <div ng-if="false" class="ui primary button" style="margin-bottom: 24px; display: inline-block; background-color: #46414A;">
          <img  src="../../assets/images/mark-white.png"height="19" width="19" style="float: left; padding-top: 2px;">
          <p style="float: left; padding-left: 10px;">
            Checked In
          </p>
        </div>

        <div class="ui primary button" style="margin-bottom: 24px; width: 100%; margin: 0px;">
          Everyone is check in your table is #34
        </div>

      </div>

    </div>
  </div>
  
</div>
